<ion-content [fullscreen]="true" class="bg-white">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" color="dark"></ion-back-button>
    </ion-buttons>
    <ion-title class="sanchez-regular" size="large" color="dark">Message (2)</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="ellipsis-vertical"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <div class="p-4">
    <div class="relative">
      <ion-icon name="search-outline" class="absolute left-3 top-1/2 transform -translate-y-1/2 text-gray-400"></ion-icon>
      <input type="text" placeholder="cari" class="w-full pl-10 p-2 border rounded-full bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-300">
    </div>
  </div>

  <div class="space-y-2 px-4">
    <div class="flex items-center justify-between p-3 rounded-lg">
      <div class="flex items-center space-x-3">
        <div class="w-12 h-12 bg-gray-200 rounded-full"></div>
        <div>
          <p class="sanchez-regular text-xl">Nama Petugas</p>
          <p class="sanchez-regular text-gray-500 text-sm truncate w-48">Halo Pak/Bu, saya yang ingin baru bergabung...</p>
        </div>
      </div>
      <div class="text-right">
        <p class="sanchez-regular text-xs text-gray-500">6:47 PM</p>
        <div class="flex items-center space-x-1">
          <ion-icon name="volume-mute" class="text-gray-500 text-xl"></ion-icon>
          <span class="text-white text-xs font-bold w-5 h-5 flex items-center justify-center rounded-full bg-red-500">1</span>
        </div>
      </div>
    </div>


    <div class="flex items-center justify-between p-3 rounded-lg">
      <div class="flex items-center space-x-3">
        <div class="w-12 h-12 bg-gray-200 rounded-full"></div>
        <div>
          <p class="sanchez-regular text-xl">Nama Petugas</p>
          <p class="sanchez-regular text-gray-500 text-sm truncate w-48">Halo Pak/Bu, saya yang ingin baru bergabung...</p>
        </div>
      </div>
      <div class="text-right">
        <p class="sanchez-regular text-xs text-gray-500">6:47 PM</p>
        <div class="flex items-center space-x-1">
          <ion-icon name="volume-mute" class="text-gray-500 text-xl"></ion-icon>
          <span class="text-white text-xs font-bold w-5 h-5 flex items-center justify-center rounded-full bg-red-500">1</span>
        </div>
      </div>
    </div>

  </div>

  <div class="fixed bottom-0 w-full bg-white shadow-md flex justify-around p-3">
    <ion-icon name="chatbubble" class="text-gray-500 text-2xl"></ion-icon>
    <ion-icon name="call" class="text-gray-500 text-2xl"></ion-icon>
  </div>
</ion-content>