<ion-content  >
  
  <div class="ml-6 mt-12 flex items-center ">
    <img src="../../../assets/icon/map-marker-alt.png" width="25" height="25" alt="">
    <p class="public-sans-reguler-400 text-sm ml-2 " >Cikampek, Jawa Barat</p>
  </div>

  <div class="h-auto flex flex-col mt-12  " >

    <p class="public-sans-bold-400 text-3xl font-bold text-center mb-8" >
      Butuh bantuan darurat 
      untuk kebakaran?
    </p>

    <div class="flex flex-col items-center   ">

      
      <button class="w-56 h-56 rounded-full bg-gradient-to-t from-button-red-200 to-button-red-100 flex flex-col items-center space-y-4  shadow-lg">
        <img src="../../../assets/icon/fire.png" class="mt-4" alt="logo api" height="88" width="88">

        <div>
          <span class="text-white m-0 public-sans-reguler-400 text-2xl block ">Lapor</span>
          <span class="text-white m-0 public-sans-reguler-400 text-2xl -mt-1 block">Kebakaran</span>
        </div>
      </button>

      <p class="text-center text-reddamkar mx-8 mt-10 text-sm public-sans-reguler-400" >Setelah menekan tombol, halaman akan dialihkan ke halaman kamera, rekam kejadian, muka anda jelaskan kejadian  untuk menunjukan bukti</p>

    </div>
  </div>

</ion-content>
