

<ion-content [fullscreen]="true">

  <img src="" alt="Ini gambar di OTP " >
  
  <p class="text-center text" >Verifikasi OTP</p>
  <p class="text-center">masukkan nomor otp yang dikirimkan ke +62</p>
  <div class="flex justify-center space-x-2 mb-4">
    <input class="w-12 h-12 text-center border border-gray-300 rounded shadow-sm" maxlength="1" type="text"/>
    <input class="w-12 h-12 text-center border border-gray-300 rounded shadow-sm" maxlength="1" type="text"/>
    <input class="w-12 h-12 text-center border border-gray-300 rounded shadow-sm" maxlength="1" type="text"/>
    <input class="w-12 h-12 text-center border border-gray-300 rounded shadow-sm" maxlength="1" type="text"/>
    <input class="w-12 h-12 text-center border border-gray-300 rounded shadow-sm" maxlength="1" type="text"/>
    <input class="w-12 h-12 text-center border border-gray-300 rounded shadow-sm" maxlength="1" type="text"/>
  </div>
   <p class="text-center text-gray-600 mb-6">
    Belum menerima pesan OTP?
    <a class="text-red-500" href="#">
     Kirim Ulang
    </a>
   </p>
  <div class="flex justify-center">
  <button class="w-3/4 py-3 bg-reddamkar text-white rounded-full text-lg font-semibold"> Sign in</button>
  </div>



</ion-content>
