<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    
    <ion-button (click)="getMyLocation()" >Check My Location</ion-button>

    
    <p *ngIf = "latitude != 0" >{{ latitude }}</p>
    <p *ngIf = "longitude != 0" >{{ longitude }}</p>

    <ion-button (click)="playAlarm()" >Play Audio</ion-button>
  </div>

  
</ion-content>
