<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">

    <ion-button (click)="getMyLocation()" >Check My Location</ion-button>


    <p *ngIf = "latitude != 0" >Latitude: {{ latitude }}</p>
    <p *ngIf = "longitude != 0" >Longitude: {{ longitude }}</p>
    <p *ngIf = "flag != ''" >Bendera: {{ flag }}</p>
    <p *ngIf = "continent != ''" >Benua: {{ continent }}</p>
    <p *ngIf = "country != ''" >Negara: {{ country }}</p>
    <p *ngIf = "country_code != ''" >Kode Negara: {{ country_code }}</p>
    <p *ngIf = "state != ''" >Provinsi: {{ state }}</p>
    <p *ngIf = "town != ''" >Kota: {{ town }}</p>
    <p *ngIf = "village != ''" >Desa: {{ village }}</p>

    <ion-button (click)="playAlarm()" >Play Audio</ion-button>
  </div>


</ion-content>
